<div class="container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
  </header>
  {{outlet}}
  <footer class="mt-auto text-muted text-center text-small">
    <div class="inner">
      <p>© 2020 Questionnaire form</p>
    </div>
  </footer>
</div>